*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: aliceblue;
    align-content: center;
    justify-content: center;
    justify-items: center;
    
}
.header{
    
    width: 100px;
    border-radius: 50%;
    margin: 25px auto;
    border: 2px solid white;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    width: auto;
    height: auto;
}
.content{
   
    background-color: #d1bdbd;
    padding: 20px;
    text-align: center;
}
.company-info {
   
    background-color: #beb2b2;
    padding: 20px;
    text-align: center;
}   
